@charset "UTF-8";
@font-face {
    font-weight: 400;
    src: url(./assets/fonts/NotoSansJP-Regular.ttf) format("truetype");
    font-family: "Noto Sans JP";
    font-display: swap;
  }
  @font-face {
    font-weight: 500;
    src: url(./assets/fonts/NotoSansJP-Medium.ttf) format("truetype");
    font-family: "Noto Sans JP";
    font-display: swap;
  }
  @font-face {
    font-weight: 700;
    src: url(./assets/fonts/NotoSansJP-Bold.ttf) format("truetype");
    font-family: "Noto Sans JP";
    font-display: swap;
  }
  @font-face {
    font-weight: 900;
    src: url(./assets/fonts/NotoSansJP-Black.ttf) format("truetype");
    font-family: "Noto Sans JP";
    font-display: swap;
  }
  @font-face {
    font-weight: 700;
    src: url(./assets/fonts/Lato-Bold.ttf) format("truetype");
    font-family: "Lato";
    font-display: swap;
  }
  @font-face {
    font-weight: 400;
    src: url(./assets/fonts/Lato-Italic.ttf) format("truetype");
    font-family: "Lato Italic";
    font-display: swap;
  }
  @font-face {
    font-weight: 700;
    src: url(./assets/fonts/Lato-BoldItalic.ttf) format("truetype");
    font-family: "Lato Bold Italic";
    font-display: swap;
  }
  @font-face {
    font-weight: 900;
    src: url(./assets/fonts/Lato-BlackItalic.ttf) format("truetype");
    font-family: "Lato Black Italic";
    font-display: swap;
  }

  .header{
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
    background-color:white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.2);
  }
  @media (max-width:768px){
    .header{
      padding: 20px;
      width:auto;
    }
  }

  
  .blue-btn{
    margin-top: 20px;
    margin-right: 80px;
    padding-block: 10px;
    padding-inline: 50px;
    background-color: #003B71;
    border-radius: 10px;
    color: white;
    font-family: Noto Sans JP;
    font-weight: bold;
    text-decoration: none;
  }
  .blue-btn:hover{
    background-color: #D9D9D9;
    color: #003B71;
    transition-duration: 500ms;
  }

  @media (max-width:768px){
    .blue-btn{
      display: block;
      padding-inline: 30px;
      font-size: 12px;
      margin-right: 0px;
      margin-top: 0;
     }
    .header_logo{
      width: 200px;
  
    }
  }
  
  .banner{
    justify-items: center;
    display: grid;
    align-content: center;
    place-items: center;
    background-image: url("./assets/image/bannercover.png");
    background-position:center;
    background-size: 100%;
    height: 50vw;
  }

  @media (max-width:768px){
    .banner{
      height: 62vw;
    }
  }

  .banner-txt{
    font-size: 8vw;
    margin: auto;
  }
  @media (max-width:768px){
    .banner-txt{
      font-size: 9vw;
    }
  }

  .orange-btn{
    display:block;
    margin-top: 50px;
    padding-block: 15px;
    padding-inline: 50px;
    background-color: #E98F00;
    width: 30vw;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-family: Noto Sans JP;
    font-weight: bold;
    text-decoration: none;
  }
  @media (max-width:768px){
    .orange-btn{
      font-size: 14px;
      margin-top: 20px;
      width: auto;
    }
  }

  .orange-btn:hover{
    background-color: #D9D9D9;
    color: #003B71;
    transition-duration: 500ms;
    font-size: 15px;
    width: 28vw;
  }

  body{
    margin: 0px;
    overflow-x: hidden;
  }

  h1{
    font-family: Noto Sans JP;
    font-size: 6vw;
    color: white;
    font-weight: bolder;
    margin: 0;
  }
  @media (max-width:768px){
    h1{
      font-size: 7vw;
    }
  }

  h2{
    font-family: Noto Sans JP;
    color: #003B71;
    background-color: transparent;
    text-align: center;
    font-size: 24pt;
  }

  h3{
    font-family: Noto Sans JP;
    color: #004F9D;
    text-align: center;
    font-size: 20pt;
  }
  @media (max-width:768px){
    h3{
      font-size: 4vw;
    }
  }
 

  p{
    font-family: Noto Sans JP;
  }

/* sponsor and associates */


  .about{
    margin-inline: 15%;
    line-height: 1.5;
    padding-block: 20px;
    padding-inline: 50px;
    border: solid 2px #003B71;
  }
  @media (max-width:768px){
    .about{
      margin-inline: 20px;
      padding-inline: 20px
    }
  }

  .about_txt{
    color: #003B71;
  }

  /* space */
  .space{
    overflow: hidden;
  }

  .space_bg{
    margin-top: 10%;
    align-content: center;
    height: 150px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 650px;
    background-image: url("./assets/illustration/space.png");

  }
  @media (max-width:768px){
   .space_bg{
    background-size: 460px;
   }
    
  }

  .space_container{
    margin-inline: 15%;
    margin-block: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    
  }
  @media (max-width:768px){
    .space_container{
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-inline: 0;
    }
    
  }
  .container1{
    border: solid 1px #003B71;
    border-radius: 15px;
    overflow: hidden;
  }
  @media (min-width:768px){
    .container1{
      min-width: 30vw;

    }
  }
  @media (max-width:768px){
    .space_container{
      margin-inline: 20px;
    }
    
    .container1 {
      overflow: hidden;
      width: 55vw;
      height: auto;
      scroll-snap-align: center;
      display: inline-block;
      animation: 30s slides infinite linear;
      
    }


  }
  .space_img{
    width: 100%;
  }

  .space_title{
    font-weight: bold;
    margin-inline: 20px;
    font-size: 14pt;
    color: #003B71;
  }

  .space_txt{
    margin-inline: 20px;
    margin-bottom: 4vw;
    color: #003B71;
  }

  /* map */
  .map{
    margin-inline: 15%;
    margin-bottom: 10%;
  }
  @media (max-width:768px){
    .map{
      margin-inline: 0;
      margin-top: 7%;
      margin-bottom: 0;
    }
    
  }
  .map_img{
    height: auto;
    width: 100%;
  }

  /* scene */
  h4{
    color: white;
    font-family: Noto Sans JP;
  }

  .scene{
    background-color: #D9D9D9;
    padding-top: 3px;
    padding-bottom: 30px;
    overflow: hidden;
  }

  .scene_img{
    width: 100%;
  }
  .scene_bg{
    margin-top: 5%;
    align-content: center;
    height: 150px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 650px;
    background-image: url("./assets/illustration/scene.png");
  }
  @media (max-width:768px){
    .scene_bg{
     background-size: 460px;
    }
     
   }
  .scene_container{
    margin-inline: 15%;
    margin-block: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    
  }

  .container{
    margin-right: 10%;
    text-align: center;
    background-color: #003B71;
    
  }

  @media (max-width:768px) {
    .scene_container {
      margin-inline: 0px;
      display: flex;
      justify-content: left;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      gap:0;
    }
  
    .scene_container::-webkit-scrollbar {
      display: none; 
    }
  
    .container {
      flex: 0 0 100%; 
      scroll-snap-align: center;
      text-align: center;
      padding: 0px;
      gap: 0;
      margin-inline: 0;
    }
  
    .scene {
      position: relative; 
    }
  
    .carousel-btn {
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      background: grey;
      color: #D9D9D9;
      font-size: 30pt;
      border: none;
      padding: 0 15px;
      border-radius: 100%;
      cursor: pointer;
      z-index: 2;
    }
  
    .carousel-btn.prev {
      left: 10px;
    }
  
    .carousel-btn.next {
      right: 10px;
    }
  }

  @media (min-width:768px){
    .carousel-btn {
      display: none;
    }
  }
  

  /* usage */
  .usage{
    background-color: #F6F6F6;
    padding-top: 50px;
    overflow: hidden;
  }

  .usage_bg{
    align-content: center;
    height: 150px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 650px;
    background-image: url("./assets/illustration/usage.png");
  }
  @media (max-width:768px){
    .usage_bg{
     background-size: 450px;
    }
     
   }
  .usage_flex{
    display: flex;
    justify-content: center;
    margin-inline: auto;
    gap: 0px;
    margin-block: 5%;
    list-style: none;
  }
  @media (max-width:768px){
    .usage_flex{
      display: flex;
      justify-content: left;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      justify-content: left;
      gap: 0px;
      margin-inline: 0;
    }
    .usage_flex::-webkit-scrollbar {
      display: none; 
    }
    .usage_container{
      display: grid;
      margin-inline: 0;
      min-height: 0;
      flex: 0 0 100%; 
    }

    .usage {
      position: relative; 
    }
    .carousel-btn-usage{
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      background: grey;
      color: #D9D9D9;
      font-size: 30pt;
      border: none;
      padding: 0 15px;
      border-radius: 100%;
      cursor: pointer;
      z-index: 2;
    }
    .carousel-btn-usage.prev{
      left: 10px;
    }
    .carousel-btn-usage.next{
      right: 10px;
    }
  }

  @media (min-width:768px){
    .carousel-btn-usage {
      display: none;
    }
  }
  .icon_use{
    display: block;
    width: 150px;
    justify-self: center;
  }
  @media (max-width:768px){
    .icon_use{
      width: 200px;
      display: grid;
    }
  }
 
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid crimson;
    border-bottom: 10px solid transparent;
  }
  .line{
    border: solid crimson;
    border-width: 0 0px 5px 0;
    width: 30px;
    display:block;
   
  }
  @media (max-width:768px){
    .triangle-right{
      display: none;
    }
    .line{
      display: none;
    }
  }
  .line_container{
    align-content: center;
  }
 
  .arrow_container{
    align-content: center;
  }

  .usage_num{
    position:relative;
    z-index: 5;
    color: white;
    font-family: Lato;
    font-size:xx-large;
    font-weight: bold;
    background-color: #003B71;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    text-align: center;
    align-content: center;
    margin-bottom: -35px;
  }
  @media (max-width){
    .usage_num {
        margin: 0 auto; 
        text-align: center; 
        display: flex; 
        justify-content: center;
        align-items: center;
        width: fit-content; 
    }
    
    }

  .usage_container{
    justify-items: center;
    margin-bottom: 5%;
  }
 
  .icon_box{
    z-index: 1;
    align-content: center;
    justify-content: center;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
  }
  @media (max-width:768px){
    .icon_box{
      width: 300px;
      height: 300px;
    }
  }

  .usage_txt{
    color: #004F9D;
    font-weight: bold;
    text-align: center;
  }

  /* apply */
  .apply{
    margin-top: 10%;
    background-color: #003B71;
    justify-items: center;
    color: white;
    padding: 50px;
    margin-inline: 15%;
  }

  .apply_txt{}

  .apply_btn{
    display:block;
    margin-top: 20px;
    padding-block: 15px;
    padding-inline: 50px;
    background-color: #E98F00;
    width: 30vw;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-family: Noto Sans JP;
    font-weight: bold;
    text-decoration: none;
  }
  .apply_btn:hover{
    background-color: white;
    color: #E98F00;
    font-size: 15px;
    transition-duration: 500ms;
    width: 28vw;
  }
  @media (max-width:768px){
    .apply{
      margin-inline: 20px;
      font-weight: bold;
      padding: 30px 30px;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
    .apply_btn{
      margin: 15px 30px;
      width: auto;
    }
  }

  /* merit */
  .merit_bg{
    margin-top: 10%;
    margin-bottom: 5%;
    align-content: center;
    height: 150px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 650px;
    background-image: url("./assets/illustration/merit.png");
  }
  @media (max-width:768px){
    .merit_bg{
     background-size: 460px;
    } 
   }

  .merit_box{
    display: flex;
    gap: 40px;
    line-height: 1;
    color: white;
    background-color: #003B71;
    margin-inline: 15%;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px 40px;
  }
  .merit_box_white{
    display: flex;
    gap: 40px;
    color: #003B71;
    line-height: 1;
    border: solid 1px #003B71;
    margin-inline: 15%;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 12px 40px;
  }
  .merit{
    overflow: hidden;
  }
  @media (max-width:768px){
    .merit{
      position: relative;
    }
    .merit_box{
      margin-inline: 20px;
      flex-direction: column;
      align-items: center;
      scroll-snap-align: center;
      min-width: 70vw;
      height: 200px;
      padding-block: 30px;
      gap: 20px;
    }
    .merit_box_white{
      margin-inline: 20px;
      flex-direction: column;
      align-items: center;
      padding-block: 30px;
      height: 200px;
      min-width: 70vw;
      scroll-snap-align: center;
      gap: 20px;
    }
    .carousel-btn_merit {
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      background: grey;
      color: #D9D9D9;
      font-size: 30pt;
      border: none;
      padding: 0 15px;
      border-radius: 100%;
      cursor: pointer;
      z-index: 2;
    }
  
    .carousel-btn_merit.prev {
      left: 10px;
    }
  
    .carousel-btn_merit.next {
      right: 10px;
    }
  }

  @media (min-width:768px){
    .carousel-btn_merit {
      display: none;
    }
  }

  .merit_text{
    font-weight: bold;
    line-height: 1.5;
    font-size: 16pt;
  }
  @media (max-width:768px){
    .merit_text{
      text-align: center;
    }
    .merit_flex{
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
    }
    .merit_flex::-webkit-scrollbar{
      display: none;
    }
  }
  .merit_text_s{
    font-size: 12pt;
    line-height: 1.5;
  }

  .icon{
    width: 55px;
  }

  .icon_b{
    width: 40px;
  }

  /* price */
  .price{
    overflow: hidden;
  }
  .price_content{
    margin-top: 20px;
    justify-items: right;
    padding-block: 100px;
    padding-inline: 10%;
    background-image: url("./assets/image/stockwoman.png");
    background-position: right 20px;
    background-repeat: no-repeat;  
    background-size: cover;
    
  }

  @media (max-width:768px){
    .price_content{
      justify-items: center;
    }
  }
  .align{
    width: 50%;
    justify-items: center;
    
  }
  @media (max-width:768px){
    .align{
      padding-inline: 0;
      display: grid;
      justify-content: center;
    }
  }
  .price_title{
    background-color: #003B71;
    text-align: center;
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: large;
  }

  .price_bg{
    margin-top: 10%;
    align-content: center;
    height: 150px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 650px;
    background-image: url("./assets/illustration/price.png");
  }
  @media (max-width:768px){
    .price_bg{
     background-size: 460px;
    }
     
   }
  .price_box{
    width: 300px;
    padding-block: 3px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
  }

  .category{
    color: #003B71;
    font-size: small;
    
  }

  .price_amount{
    color: #E98F00;
    font-weight: bold;
    line-height: 1;
    margin-top: -10px;
  }

  .amount{
    font-size: 28px;

  }

  /* faq */
  .faq{
    margin-top: 10%;
    z-index: 1;
    min-height: 800px;
    background-image: url(./assets/illustration/faqbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    justify-items: center;
    overflow: hidden;
  }  
  @media (max-width:768px){
    .faq{
      display: grid;
      justify-content: center;
      justify-items: center;
      align-items: center;
    }
  }
  .faq_txt{
    padding-top: 5%;
    padding-bottom: 10px;
  }
  div.c{
    position: relative;
    margin: 2em 0;
  }

  input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: 0;
  }

  .c h1{
    background: white;
    border-radius: 10px;
    border: solid 2px #003B71;
    font-size: medium;
    color: #003B71;
    padding:1em;
    position: relative;
    padding-left: 30px;
    justify-self: center;
    width: 700px;
  }

  @media (max-width:768px){
    .c h1{
      width:77vw;
      margin-inline: 18px;
    }
  }

  .c span {
    display: inline-block;
    font-weight: bolder;
    padding-right: 10px;
  }
  
  label::before{
    content:"";
    display: inline-block;

  }
  label{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }
  div.p{
    justify-self: center;
    width: 740px;
    max-height:0px;
    overflow: hidden;
    transition:max-height 0.5s;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  @media (max-width:768px){
    div.p{
      justify-self: center;
      width: auto;
      margin-inline: 20px;
    }
  }
  div.p p {
    padding:0 2em;
    color: #003B71;
  }

  input:checked ~ h1 ~ div.p{
    max-height:400px;
  }

  @media (max-width:768px){
    input:checked ~ h1 ~ div.p{
      max-height:700px;
    }
  }

  @keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  
  .logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: 20px;
    margin-bottom: 6%;
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 200px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logo_items {
    display: inline-block;
    animation: 50s slides infinite linear;
  }
  
  .logos:hover .logo_items {
    animation-play-state: paused;
  }
  
  .logo_items img{
    height: 45px;
    margin-inline: 20px;
  }

  footer{
    height: 200px;
    background-color: #004F9D;
  }


